.parentFirstPage{
   height:750px ;
border:2px solid black;
background-image: linear-gradient(blue , white);
}
.outerDiv{
    /* border: 2px solid red; */
    width: 508px;
    height: 480px;
    position: absolute;
    left: 35%;
    top: 20%;
    border-radius: 30px;
    background-color: whitesmoke;
}
.heading1{
    position: absolute;
    top: 35px;
    left: 170px;
    font-size: 22px;
}
.scroll{
  
    padding:4px; 
    background-color: white; 
    width: 500px; 
    height: 350px; 
    overflow-x: hidden; 
    overflow-y: auto; 
   
    position: absolute;
    bottom: 30px;
    
}

#divList::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
    background-color: #F5F5F5;
}

#divList::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

#divList::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}